:root {
    --titles: 'Rosario', sans-serif;
    --body: 'Alegreya Sans', sans-serif;
    --dialca-primary: #3a7dc0;
    --dialca-secondary: #085691;
    --dialca-accent: #CC8550;
}

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "tailwind-scrollbar";

@theme {
    --font-titles: var(--titles);
    --font-body: var(--body);
    --color-primary: var(--dialca-primary);
    --color-secondary: var(--dialca-secondary);
    --color-accent: var(--dialca-accent);
    --animate-fade-in: fadeIn 0.3s ease-in-out forwards;

	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}

.main-scroll {
    @apply scrollbar-thin scrollbar-thumb-gray-300 dark:scrollbar-thumb-gray-700 scrollbar-track-transparent
}